<!DOCTYPE html>
<html>
<head>
    <title>Find a tutor!!</title>
    <link rel="stylesheet" type="text/css" href="CSS/design.css">
</head>

<body>

                                <!-- Container Begins -->
        <div id="mainhead">
            <center><h1>Welcome!</h1></center>
        </div>

    <br>
    <br>
    <div class="mainbox">

                                <!-- Form Begins -->
    <div>
    <form>
                                    <!-- Table -->
    <center><table class="tables">
        <thead>
            <center><div class="buttonpush">
            <p> Hi there,
                <br/><br/>
                You should not be stuck on assignments anymore. 
                A tutor is one click away. Don't miss out!
                
                <br/> <br/>
                To get starterd you can register <a href = "/register.html"> here</a>,
                or if you are already a member you can log in <a href = "/login.html" > here.</a>
            </p>
            </div></center>
        </tbody></label>
    </table></center>
    </div>
    </form>

</body>
</html>
