<!DOCTYPE html>
<html>
<head>
    <title>Find a tutor!</title>
    <link rel="stylesheet" type="text/css" href="CSS/design.css">
</head>

<body>

                                <!-- Container Begins -->
        <div id="mainhead">
            <center><h1>Welcome!</h1></center>
        </div>

    <br>
    <br>
    <div class="mainbox">

                                <!-- Form Begins -->
    <div>
    <form>
                                    <!-- Table -->
    <center><table class="tables">
        <thead>
            <center><div class="buttonpush">
            <button class="button" onclick="ogCalc()">Register</button>
            <button class="button" onclick="ogCalc()">Log in</button>
            </div></center>
        </tbody></label>
    </table></center>
    </div>
    </form>

</body>
</html>
