<!DOCTYPE html>
<html>
<head>
    <title>Profile Page</title>
    <link rel="stylesheet" type="text/css" href="CSS/design.css">
</head>

<body>

                                <!-- Container Begins -->
        <div id="mainhead">
            <center><h1>Hello, User!</h1></center>
        </div>

    <br>
    <br>
    <div class="mainbox">

                                <!-- Form Begins -->
    <div>
    <form>
                                    <!-- Table -->
        <tbody>
                <tr>
                    <center><div>
                        <td><label class="labeled">Bio: here im supposed to import the bio </label></td>
                    </div></center>
                </tr>
                <div class="info">
                    <center><h4>Where you are on the map.</h4></center>
                </div>
    </div>
    </form>

</body>
</html>