<html >
<head>
    <title>Registration</title>
	
    <link rel="stylesheet" type="text/css" href="style.css" />

</head>
<body style = "margin:0">
     <div class = "grid" id = "container"> 
    <h1 id = header>Register</h1>
    <h3 id = "Username">Username:</h3>
        <input type = "text" id="Username"/>
    <h3 id = "Password" >Password:</h3>
        <input type = "text" id="Password"/>
        <br>
  <input type="submit" id = "submitbutton" value="Sign Up" style = "clear: left">
  

</body>

