<html >
<head>
    <title>Log In</title>
	
    <link rel="stylesheet" type="text/css" href="loginstyle.css" />

</head>
<body style = "margin:0">
    <h1>Log In</h1>

     <div class = "loginbox"> 
        <form>
            <p>Username</p>
            <input type = "text" name = "" placeholder = "Enter Username" id="Username"/>
            <br/>
            <p>Password</p>
            <input type="Password" name="" placeholder="Enter Password">
            <input type="submit" id = "loginbutton" value="Log In" style = "clear: left">
        </form>
    </div>

</body>

